@page "/details/{id}"
@using DummyMauiApp.Models
@using DummyMauiApp.Services
@inject NavigationManager NavManager
@inject DummySevice dummyService

<div class="card">
    <div class="card-header">
        <button @onclick=CloseWindow class="btn btn-danger">&#8592;</button>
        <h1>@product.title</h1>
    </div>
    <div>
        <h5 class="card-title">@product.brand</h5>
        @{
            foreach (var image in product.images)
            {
                <img src="@image" alt="@product.title" class="img-fluid" width="150" />
            }
        }
    </div>
</div>

@code {
    [Parameter]
    public string Id { get; set; }

    public Product product { get; set; } = new();

    protected override void OnInitialized()
    {
        product = dummyService.GetProduct(Convert.ToInt32(Id));
    }

    private void CloseWindow()
    {
        NavManager.NavigateTo("/");
    }
}
